# PLANET DATASET
---

### Importing libraries

In [1]:
import pandas as pd

### importing dataset

In [2]:
df=pd.read_csv(r"/Users/haris/Downloads/planets.csv")
df.head(50)

                       method  number  orbital_period     mass  distance  year
0             Radial Velocity       1      269.300000   7.1000     77.40  2006
1             Radial Velocity       1      874.774000   2.2100     56.95  2008
2             Radial Velocity       1      763.000000   2.6000     19.84  2011
3             Radial Velocity       1      326.030000  19.4000    110.62  2007
4             Radial Velocity       1      516.220000  10.5000    119.47  2009
5             Radial Velocity       1      185.840000   4.8000     76.39  2008
6             Radial Velocity       1     1773.400000   4.6400     18.15  2002
7             Radial Velocity       1      798.500000      NaN     21.41  1996
8             Radial Velocity       1      993.300000  10.3000     73.10  2008
9             Radial Velocity       2      452.800000   1.9900     74.79  2010
10            Radial Velocity       2      883.000000   0.8600     74.79  2010
11            Radial Velocity       1      335.100000   9.8800     39.43  2009
12            Radial Velocity       1      479.100000   3.8800     97.28  2008
13            Radial Velocity       3     1078.000000   2.5300     14.08  1996
14            Radial Velocity       3     2391.000000   0.5400     14.08  2001
15            Radial Velocity       3    14002.000000   1.6400     14.08  2009
16            Radial Velocity       1        4.230785   0.4720     15.36  1995
17            Radial Velocity       5       14.651000   0.8000     12.53  1996
18            Radial Velocity       5       44.380000   0.1650     12.53  2004
19            Radial Velocity       5     4909.000000   3.5300     12.53  2002
20            Radial Velocity       5        0.736540      NaN     12.53  2011
21            Radial Velocity       5      261.200000   0.1720     12.53  2007
22            Radial Velocity       3        4.215000   0.0160      8.52  2009
23            Radial Velocity       3       38.021000   0.0570      8.52  2009
24            Radial Velocity       3      123.010000   0.0720      8.52  2009
25            Radial Velocity       1      116.688400      NaN     18.11  1996
26            Radial Velocity       1      691.900000      NaN     81.50  2012
27            Radial Velocity       1      952.700000   5.3000     97.18  2008
28            Radial Velocity       1      181.400000   3.2000     45.52  2013
29                    Imaging       1             NaN      NaN     45.52  2005
30                    Imaging       1             NaN      NaN    165.00  2007
31                    Imaging       1             NaN      NaN    140.00  2004
32  Eclipse Timing Variations       1    10220.000000   6.0500       NaN  2009
33                    Imaging       1             NaN      NaN       NaN  2008
34                    Imaging       1             NaN      NaN    145.00  2013
35                    Imaging       1             NaN      NaN    139.00  2004
36                    Imaging       1             NaN      NaN     18.39  2006
37  Eclipse Timing Variations       2     5767.000000      NaN    130.72  2008
38  Eclipse Timing Variations       2     3321.000000      NaN    130.72  2008
39  Eclipse Timing Variations       2     5573.550000      NaN    500.00  2010
40  Eclipse Timing Variations       2     2883.500000      NaN    500.00  2010
41  Eclipse Timing Variations       1     2900.000000      NaN       NaN  2011
42  Eclipse Timing Variations       1     4343.500000   4.2000       NaN  2012
43  Eclipse Timing Variations       2     5840.000000      NaN       NaN  2011
44  Eclipse Timing Variations       2     1916.250000      NaN       NaN  2011
45            Radial Velocity       1      380.800000   1.8000     20.21  2010
46            Radial Velocity       1        3.235700   0.0036      1.35  2012
47                    Imaging       1     6000.000000      NaN     19.28  2008
48            Radial Velocity       1     2502.000000   1.5500      3.22  2000
49            Radial Velocity       1      417.900000      NaN     70.42  2012

### Displaying meta datas

In [3]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

### Print Rows and Columns

In [5]:
df.shape

(1035, 6)

In [6]:
print("Number of Rows :",df.shape[0])
print("Number of Columns :",df.shape[1])

Number of Rows : 1035
Number of Columns : 6

### Identifying number of null values in each columns

In [7]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [8]:
df['number'].unique()

array([1, 2, 3, 5, 4, 6, 7], dtype=int64)

In [9]:
df['method'].str.isnumeric().sum()

0

### Handeling null values

* Filling with mean of the column

In [10]:
df['mass'].fillna(df.mass.mean(),inplace=True)

In [11]:
df['distance'].fillna(df.distance.mean(),inplace=True)

* Dropping null values from the dataset

In [12]:
df.dropna(inplace=True)

### Identifying number of null values in each columns

In [13]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

### Print Rows and Columns

In [14]:
df.shape

(992, 6)

In [15]:
print("Number of Rows :",df.shape[0])
print("Number of Columns :",df.shape[1])

Number of Rows : 992
Number of Columns : 6