# ODI RANKING DATASET
---

### Importing libraries

In [1]:
import pandas as pd

### Importing  Dataset

In [2]:
data=pd.read_csv(r"Cricket_dataset.txt",sep="\t")
data

,Date,Player_name,Nationality,Rating,Best_rating,Previous_Ranking,Type,Format
0,01-01-2016,AB de Villiers,SA,900.0,902.0,1.0,Batting,ODI
1,01-01-2016,Virat Kohli,IND,804.0,911.0,2.0,BATTING,ODI
2,01-01-2016,Kane Williamson,NZ,781.0,799.0,3.0,Batting,ODI
3,01-01-2016,Hashim Amla,SA,776.0,901.0,4.0,BATTING,ODI
4,01-01-2016,Tillekeratne Dilshan,SL,771.0,802.0,5.0,Batting,ODI
5,01-01-2016,MS Dhoni,IND,741.0,836.0,6.0,Batting,ODI
6,01-01-2016,Shikhar Dhawan,IND,730.0,813.0,7.0,Batting,ODI
7,01-01-2016,Glenn Maxwell,AUS,717.0,735.0,9.0,BATTING,ODI
8,01-01-2016,Ross Taylor,NZ,716.0,841.0,8.0,Batting,ODI
9,01-01-2016,Quinton de Kock,NaN,715.0,813.0,11.0,Batting,ODI
10,01-01-2016,Francois du Plessis,SA,715.0,820.0,12.0,Batting,ODI
11,01-01-2016,Martin Guptill,NaN,NaN,NaN,NaN,NaN,NaN
12,01-01-2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,01-01-2016,Aaron Finch,AUS,696.0,NaN,14.0,Batting,NaN
14,01-01-2016,George Bailey,NaN,NaN,NaN,NaN,NaN,NaN
15,01-01-2016,Joe Root,ENG,675.0,NaN,16.0,Batting,NaN
16,01-01-2016,Jos Buttler,ENG,662.0,741.0,17.0,Batting,NaN
17,01-01-2016,Soumya Sarkar,BAN,661.0,671.0,18.0,Batting,NaN
18,01-01-2016,Mushfiqur Rahim,BAN,NaN,723.0,19.0,Batting,ODI
19,01-01-2016,Steve Smith,AUS,657.0,752.0,20.0,Batting,ODI
20,01-01-2016,Eoin Morgan,ENG,643.0,720.0,21.0,Batting,ODI
21,01-01-2016,David Warner,AUS,638.0,NaN,22.0,Batting,ODI
22,01-01-2016,Angelo Mathews,SL,627.0,707.0,23.0,Batting,ODI
23,01-01-2016,Suresh Raina,IND,625.0,669.0,24.0,Batting,ODI
24,01-01-2016,Mohammad Hafeez,PAK,620.0,665.0,25.0,NaN,ODI
25,01-01-2016,Brendon McCullum,NZ,613.0,685.0,26.0,Batting,ODI
26,01-01-2016,Tamim Iqbal,BAN,611.0,737.0,27.0,Batting,NaN
27,01-01-2016,Ajinkya Rahane,IND,NaN,633.0,28.0,Batting,ODI
28,01-01-2016,James Faulkner,AUS,599.0,628.0,29.0,Batting,ODI

### Displaying meta datas

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              29 non-null     object
 1   Player_name       28 non-null     object
 2   Nationality       25 non-null     object
 3   Rating            24 non-null     float64
 4   Best_rating       23 non-null     float64
 5   Previous_Ranking  26 non-null     float64
 6   Type              25 non-null     object
 7   Format            21 non-null     object
dtypes: float64(3), object(5)
memory usage: 1.9+ KB

In [4]:
data.describe()

           Rating  Best_rating  Previous_Ranking
count   24.000000    23.000000         26.000000
mean   695.541667   761.043478         15.269231
std     74.275035    85.126365          8.942294
min    599.000000   628.000000          1.000000
25%    635.250000   696.000000          7.250000
50%    685.500000   741.000000         16.500000
75%    732.750000   816.500000         22.750000
max    900.000000   911.000000         29.000000

### Print Rows and Columns

In [5]:
data.shape

(29, 8)

In [6]:
print("Number of Rows :",data.shape[0])
print("Number of Columns :",data.shape[1])

Number of Rows : 29
Number of Columns : 8

### Identifying number of null values in each columns

In [7]:
data['Date'].unique()

array(['01-01-2016'], dtype=object)

In [8]:
data.isnull().sum()

Date                0
Player_name         1
Nationality         4
Rating              5
Best_rating         6
Previous_Ranking    3
Type                4
Format              8
dtype: int64

### Handeling null values

* Filling null values

In [9]:
data.Nationality.fillna('',inplace=True)

In [10]:
data.Format.fillna("ODI",inplace=True)

* Dropping cloumns having more than 5 null values

In [11]:
data.dropna(thresh=5,inplace=True)

* Dropping null values from the dataset

In [12]:
data.dropna(subset=['Best_rating'],inplace=True)

* Filling with mode of the column

In [14]:
data.Type.fillna(data['Type'].value_counts().idxmax(),inplace=True)

* Filling with mean of the column

In [15]:
data.Rating.fillna(data.Rating.mean(),inplace=True)

### Changing cloumn values to lowercase

In [16]:
data.Type=data['Type'].str.lower()

### Renaming Columns

In [17]:
data.rename(columns={'Type':'Role'},inplace=True)

### Identifying number of null values in each columns

In [18]:
data.isnull().sum()

Date                0
Player_name         0
Nationality         0
Rating              0
Best_rating         0
Previous_Ranking    0
Role                0
Format              0
dtype: int64

### Print Rows and Columns

In [19]:
data.shape

(23, 8)

In [20]:
print("Number of Rows :",data.shape[0])
print("Number of Columns :",data.shape[1])

Number of Rows : 23
Number of Columns : 8

### Displaying Final Dataset

In [21]:
data

,Date,Player_name,Nationality,Rating,Best_rating,Previous_Ranking,Role,Format
0,01-01-2016,AB de Villiers,SA,900.000000,902.0,1.0,batting,ODI
1,01-01-2016,Virat Kohli,IND,804.000000,911.0,2.0,batting,ODI
2,01-01-2016,Kane Williamson,NZ,781.000000,799.0,3.0,batting,ODI
3,01-01-2016,Hashim Amla,SA,776.000000,901.0,4.0,batting,ODI
4,01-01-2016,Tillekeratne Dilshan,SL,771.000000,802.0,5.0,batting,ODI
5,01-01-2016,MS Dhoni,IND,741.000000,836.0,6.0,batting,ODI
6,01-01-2016,Shikhar Dhawan,IND,730.000000,813.0,7.0,batting,ODI
7,01-01-2016,Glenn Maxwell,AUS,717.000000,735.0,9.0,batting,ODI
8,01-01-2016,Ross Taylor,NZ,716.000000,841.0,8.0,batting,ODI
9,01-01-2016,Quinton de Kock,,715.000000,813.0,11.0,batting,ODI
10,01-01-2016,Francois du Plessis,SA,715.000000,820.0,12.0,batting,ODI
16,01-01-2016,Jos Buttler,ENG,662.000000,741.0,17.0,batting,ODI
17,01-01-2016,Soumya Sarkar,BAN,661.000000,671.0,18.0,batting,ODI
18,01-01-2016,Mushfiqur Rahim,BAN,699.238095,723.0,19.0,batting,ODI
19,01-01-2016,Steve Smith,AUS,657.000000,752.0,20.0,batting,ODI
20,01-01-2016,Eoin Morgan,ENG,643.000000,720.0,21.0,batting,ODI
22,01-01-2016,Angelo Mathews,SL,627.000000,707.0,23.0,batting,ODI
23,01-01-2016,Suresh Raina,IND,625.000000,669.0,24.0,batting,ODI
24,01-01-2016,Mohammad Hafeez,PAK,620.000000,665.0,25.0,batting,ODI
25,01-01-2016,Brendon McCullum,NZ,613.000000,685.0,26.0,batting,ODI
26,01-01-2016,Tamim Iqbal,BAN,611.000000,737.0,27.0,batting,ODI
27,01-01-2016,Ajinkya Rahane,IND,699.238095,633.0,28.0,batting,ODI
28,01-01-2016,James Faulkner,AUS,599.000000,628.0,29.0,batting,ODI